.magMain {
    background: url('../img/blue-bg.jpg') no-repeat center center;
    background-size: cover;
}

.aboutAction {
    &__item {
        text-align: center;
    }

    &__icons {
        margin: 0 auto;
    }
}