.offer {
    position: relative;
}

.magnets {
    padding-top: 479px;
    padding-bottom: 477px;
    background: url('../img/fon_1.jpg') no-repeat center center;
    background-size: cover;
    position: relative;

    .bmd-block({
        padding-top: 355px;
        padding-bottom: 382px;
    });

    .sm-block({
        background-image: url('../img/fon_2.jpg');
        padding-top: 270px;
        padding-bottom: 320px;
    });

    .xs-block({
        padding-top: 270px;
        padding-bottom: 300px;
    });

    &__title {
        width: 632px;
        font-family: 'Appetite', sans-serif;
        font-size: 42px;
        font-weight: 400;
        color: #d01117;
        text-transform: uppercase;
        text-align: center;
        margin-left: 296px;

        @media screen and (max-width: 1530px) {
            margin-left: 80px;
            text-align-last: left;
        }

        .sm-block({
            width: 210px;
            font-size: 24px;
            margin-left: 4.6vw;
        });
    }

    &-priz {
        width: 1045px;
        position: absolute;
        top: 60px;
        left: 0;

        @media screen and (max-width: 1530px) {
            width: 68vw;
        }

        .bmd(width, 63vw);

        .sm-block({
            width: 450px;
            top: 16px;
            left: 50%;
            transform: translate(-50%);
        });

        .xs(width, 310px);
    }

    &-100r {
        width: 265px;
        position: absolute;
        top: 64px;
        left: 1170px;

        @media screen and (max-width: 1530px) {
            width: 200px;
            left: 75vw;
        }

        .bmd(width, 140px);

        .sm-block({
            top: 190px;
            left: 54vw;
        });

        .xs-block({
            top: 145px;
            left: 45vw;
        });
    }
}

.br-mob {
    display: none;

    .sm(display, block);
}

.magMenu__list {
    width: 520px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    .sm(display, none);
}

.magMenu__item {
    width: 33.33%;
    height: 80px;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    .md(font-size, 15px);
}

.magMenu__link {
    color: #0a4486;
}

.magMenu__item--active {
    background: #ed1c24;
}

.magMenu__item--active .magMenu__link {
    color: #fff;
}

.menuMob__list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 330px;
    background: #fff;
    z-index: 10;
}

.menuMob__item {
    height: calc(100%/3);
    padding-left: 20px;
    border-bottom: 2px solid #ed1c24;
    &:last-child {
        border-bottom: transparent;
    }
}

.menuMob__link {
    width: 100%;
    height: 100%;
    font-size: 20px;
    color: #0b4d91;
    line-height: 110px;
    text-transform: uppercase;
    text-align: center;
}

.menuMob__item--active {
    background: #ed1c24;
}

.menuMob__item--active .menuMob__link {
    color: #fff;
}
.menuMob-open {
    display: flex;
}