.magnets {
    padding-top: 479px;
    padding-bottom: 477px;
    background: url('../img/fon_1.jpg') no-repeat center center;
    background-size: cover;
    position: relative;

    &__title {
        width: 632px;
        font-family: 'Appetite';
        font-size: 42px;
        font-weight: 400;
        color: #d01117;
        text-transform: uppercase;
        text-align: center;
        margin-left: 296px;
    }
}